:root {
    --color-text-primary: #403f3d;
    --color-text-inverse: #e1d4c9;
    --color-text-accent: #b0907a;

    --color-bg-page: #e1d4c9;
    --color-bg-container: #665f55;
    --color-bg-overlay: rgba(64, 63, 61, 0.8);

    --color-border-primary: #c1b6ad;
    --color-border-inverse: #665f55;
}

[data-theme="dark"] {
    --color-text-primary: #e1d4c9;
    --color-text-inverse: #e1d4c9;
    --color-text-accent: #b0907a;

    --color-bg-page: #292826;
    --color-bg-container: #403f3d;
    --color-bg-overlay: rgba(41, 40, 38, 0.8);

    --color-border-primary: #665f55;
    --color-border-inverse: #c1b6ad;
}

body {
    margin: 0;
    background-color: var(--color-bg-page);
    color: var(--color-text-primary);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}